{%extends 'base.html' %} {% block content %}

<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Acerca de...</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Información acerca de Dulcería Lilis
      </p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <br />
        <h1>Historia</h1>
        <p align="justify">
          <br />
          En el año 2017, la familia Maier-Foitzick fundó DULCERIA LILI’S con la
          apasionante visión de crear su propio negocio, uno que les permitiera
          combinar sus pasiones y gustos. De este modo, dotaron de identidad y
          valor a las antiguas recetas familiares de origen alemán, dando inicio
          a una emocionante travesía que transformó un simple emprendimiento en
          un auténtico proyecto de vida. A lo largo de este viaje, la
          innovación, la creatividad, la búsqueda constante de calidad y la
          contribución humana han sido los pilares fundamentales que han dado
          vida a esta magnífica iniciativa.
        </p>
        <h1>Misión</h1>
        <br />
        <p>
          Continuar haciendo lo que amamos a lo largo de nuestra historia,
          seguir innovando y desarrollando mágicas recetas con sus
          presentaciones y mantener siempre esta estrecha relación que hoy nos
          mueve con nuestros clientes y empleados. No solo queremos crecer,
          también queremos aportar a nuestra sociedad con ayuda social, cuidar
          nuestro medio ambiente, crear fuentes de trabajo para las mujeres de
          nuestro País y con llevar todo ese cariño y compromiso que nos hace
          ser quien hoy día somos.
        </p>
        <h1>Visión</h1>
        <br />
        <p>
          Ser una empresa Líder en elaboración de productos de calidad pero
          nunca perder la esencia de lo artesanal y no solo llegar a cada hogar
          de nuestro País sino también a distintos lugares del mundo llevando un
          atractivo producto a cada una de las familias que nos prefieren cada
          día más.
        </p>
        <h1>Valores</h1>
        <br />
        <p>
          En DULCERIA LILI’S, nos esforzamos por utilizar únicamente las más
          finas materias primas, y nuestros colaboradores, con su humildad,
          dedicación y pasión por su labor, cuidan cada minucioso detalle que
          distingue a nuestras recetas como verdaderamente excepcionales y las
          convierte en las más exquisitas del mercado. En el presente, DULCERIA
          LILI’S ha desarrollado tres líneas de proceso que se concentran en la
          elaboración de chocolates, galletas y confitería. Gracias a la
          incorporación de productos regionales e innovadores, hemos logrado
          forjar una línea de exportación que nos permite llevar nuestros nuevos
          y emocionantes proyectos a todos los rincones del mundo.
        </p>
        <h1>Contactos</h1>
        <br />
        <p>
          Móvil: +569 6226 1712 E-Mail: ventas@lilis.cl Ubicanos en: Paseo San
          Ramón Waldo Alcalde 401, local 8, San Ramón, Coquimbo
        </p>
        <h1>Redes sociales</h1>
        <br />
        <p>
          <a
            rel="noopener noreferrer nofollow"
            href="https://www.instagram.com/dulceria_lilis/"
            target="_blank"
            class=""
            ><i class="fa fa-instagram"></i
            ><span class="basel-social-icon-name">Instagram</span></a
          >
        </p>
        <br />
      </div>
    </center>
  </div>
</div>

{% endblock %}
