{% extends "base.html" %}
{% load static %}
{% block content %}
</br></br></br></br></br>
<div class="container" style="max-width:420px; margin-top:40px;">
    <h3 class="mb-3">Iniciar sesión</h3>

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for err in form.non_field_errors %}{{ err }}{% endfor %}
        </div>
        {% endif %}

        <div class="mb-3">
            {{ form.username.label_tag }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&thinsp;&thinsp;&thinsp;&thinsp;
            {{ form.username }}
            {% for err in form.username.errors %}
            <div class="text-danger small">{{ err }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.password.label_tag }}
            &ensp;
            {{ form.password }}
            {% for err in form.password.errors %}
            <div class="text-danger small">{{ err }}</div>
            {% endfor %}
        </div>

        <button class="btn btn-primary w-100" type="submit">Ingresar</button>
    </form>
</div>
</br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br>
</br></br></br>
{% endblock %}